<div class="legal">
	<h1>Judgie Terms of Service</h1>

	<p>
		By using the Judgie.com web site (&#8220;Service&#8221;), or any services of Compulsivo, Inc (&#8220;Compulsivo&#8221;), you are agreeing to be bound by the following terms and conditions (&#x201c;Terms of Service&#x201d;).
	</p>

	<p>
		Compulsivo reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: <%= link_to('http://www.judgie.com/terms', terms_path) %>
	</p>

	<p>
		Violation of any of the terms below will result in the termination of your Account. While Compulsivo prohibits offensive conduct and Content on the Service, you understand and agree that Compulsivo cannot be held responsible for the Content posted on the Service and you may be exposed to such materials. You agree to use the Service at your own risk.</p>

	<h2>Account Terms</h2>

	<ol>
		<li>You must be 13 years or older to use this Service.</li>
		<li>You must be a human. Accounts registered by &#8220;bots&#8221; or other automated methods are not permitted.</li>
		<li>You must provide a valid email address, and any other information requested in order to complete the signup process.</li>
		<li>You are responsible for maintaining the security of your account and password. Compulsivo cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
		<li>You are responsible for all Content posted and activity that occurs under your account.</li>
		<li>Conduct and Content deemed offensive by Compulsivo is not permitted.</li>
		<li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
		<li>A breach or violation of any of the Account Terms as determined in the sole discretion of Compulsivo will result in an immediate termination of your services.</li>
	</ol>

	<h2>General Conditions</h2>

	<p>
		You must read, agree with, and accept all of the terms and conditions contained in this User Agreement and the <%= link_to('Privacy Policy', privacy_path, :target => '_blank') %> before you may become a member of Judgie.
	</p>
	
	<ol>
		<li>Your use of the Service is at your sole risk. The service is provided on an &#8220;as is&#8221; and &#8220;as available&#8221; basis.</li>
		<li>Technical support is only available via email.</li>
		<li>You understand that Compulsivo uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
		<li>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, Compulsivo, or any other Compulsivo service.</li>
		<li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Compulsivo.</li>
		<li>We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party&#8217;s intellectual property or these Terms of Service.</li>
		<li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Compulsivo customer, employee, member, or officer will result in immediate account termination.</li>
		<li>You understand that the technical processing and transmission of the Service, including your Content, may be transfered unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.  This does not include payment information, which is transferred encrypted.</li>
		<li>You must not upload, post, host, or transmit unsolicited email, SMSs, or &#8220;spam&#8221; messages.</li>
		<li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
		<li>Compulsivo does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</li>
		<li>You expressly understand and agree that Compulsivo shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Compulsivo has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</li>
		<li>The failure of Compulsivo to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and Compulsivo and govern your use of the Service, superceding any prior agreements between you and Compulsivo (including, but not limited to, any prior versions of the Terms of Service).</li>
	  <li>Questions about the Terms of Service should be <%= enkode_mail('support@compulsivoco.com', 'emailed') %> to us.</li>
	</ol>
	
	<h2>Cancellation and Termination</h2>

	<ol>
		<li>You may cancel your account at any time by <%= enkode_mail('support@compulsivoco.com', 'emailing us') %>.</li>
		<li>Your account will be immediately deleted from the Service upon cancellation. This information can not be recovered once your account is cancelled.</li>
		<li>Compulsivo, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other Compulsivo service, for any reason at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. Compulsivo reserves the right to refuse service to anyone for any reason at any time.</li>
		<li>Compulsivo reserves the right to modify or terminate the Judgie service for any reason, without notice at any time.</li>
	</ol>

	<h2>Modifications to the Service and Prices</h2>

	<ol>
		<li>Compulsivo reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</li>
		<li>Compulsivo shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</li>
	</ol>

	<h2>Copyright and Content Ownership</h2>

	<ol>
		<li>You agree to allow others to view and share your Content.</li>
		<li>Compulsivo does not pre-screen Content, but Compulsivo and its designee have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service.</li>
		<li>The look and feel of the Service is copyright &copy; 2008 Compulsivo, Inc. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS, Javascript, or visual design elements or concepts without express written permission from Compulsivo.</li>
	</ol>

	<br/>
	
	<h3>
		Effective: March 1, 2008
	</h3>
</div>